<div class="container">
  <header class="blog-header lh-1 py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="link-secondary" href="#"></a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="{% url 'index' %}">Library</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        {% if user.is_authenticated %}
          <a class="btn btn-sm btn-outline-secondary" href="{% url 'logout' %}">Выход</a>
        {% else %}
          <a class="btn btn-sm btn-outline-secondary" href="{% url 'login'%}">Войти</a>
          <a class="btn btn-sm btn-outline-secondary" href="{% url 'signup'%}">Зарегистрироваться</a>
        {% endif %}
      </div>
    </div>
  </header>
</div>
