{% extends "base.html" %}
{% block title %}Войти на сайт{% endblock %}
{% load static %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'books/css/form.css' %}">
{% endblock %}
{% block header %}Войти на сайт{% endblock %}
{% block content %}
  <div class="form-container">
    <form class="form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
      {% for field in form %}
        <div class="form__group">
          <label for="{ field.id_for_label }}" class="form__label">
            {{ field.label_tag }}
          </label>
          <div class="form__field-group">
            {{ field }}
            <span class="form__error">{{ field.errors }}</span>
          </div>
        </div>
      {% endfor %}
      <div class="form__footer">
        <button class="button button_style_blue">Войти</button>
        <a class="form__forgot-link" href="{% url 'password_reset' %}">Забыли пароль?</a>
      </div>
    </form>
  </div>
{% endblock %}
